
<%= form_tag('\index', :method => "get", class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Insert a Title", class: "form-control" %>  
  </div>  
<% end %>


<table>
  <thead>
    <tr>
      <th><%=sortable "title"%></th>
      <th><%=sortable "artist" %></th>
      <th><%=sortable "danceability" %></th>
      <th><%=sortable "energy" %></th>
      <th><%=sortable "key" %></th>
      <th><%=sortable "loudness" %></th>
      <th><%=sortable "mode" %></th>
      <th><%=sortable "speechiness" %></th>
      <th><%=sortable "acousticness" %></th>
      <th><%=sortable "instrumentalness" %></th>
      <th><%=sortable "liveness" %></th>
      <th><%=sortable "valence" %></th>
      <th><%=sortable "tempo" %></th>
      <th><%=sortable "duration_ms", "Duration (ms)" %></th>
      <th><%=sortable "time_signature", "Time Signature" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.danceability %></td>
        <td><%= song.energy %></td>
        <td><%= song.key %></td>
        <td><%= song.loudness %></td>
        <td><%= song.mode %></td>
        <td><%= song.speechiness %></td>
        <td><%= song.acousticness %></td>
        <td><%= song.instrumentalness %></td>
        <td><%= song.liveness %></td>
        <td><%= song.valence %></td>
        <td><%= song.tempo %></td>
        <td><%= song.duration_ms %></td>
        <td><%= song.time_signature %></td>
      </tr>
    <% end %>
  </tbody>
</table>